.login{
    width: 400px;
    height: 500px;
    padding: 20px;
}
.login_title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"]{
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 2px;
}
input[type="submit"]{
    width: 100px;
    padding: 7px 5px;
    border-radius: 3px;
    outline: none;
    border: 0;
    background-color: rgb(173, 199, 226);
    margin-top: 20px;
    float: right;
}